name: Update Backend .NET secrets

on:
  workflow_dispatch:

env:
  CLUSTER_NAME: patchdb-k8
  CLUSTER_NAMESPACE: patchdb
  SECRET_NAME: backend-dotnet-secrets

jobs:
  update-secrets:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_API_KEY }}

      - name: Save kubeconfig
        run: doctl kubernetes cluster kubeconfig save ${{ env.CLUSTER_NAME }}
      
      - name: Update Secrets
        run: |
          kubectl create secret generic ${{ env.SECRET_NAME }} \
            --from-literal=aws-credentials.json=${{ secrets.AWS_CREDENTIALS_JSON }} \
            --from-literal=test-secret.json=${{ secrets.TEST_SECRET_JSON }} \
            -n ${{ env.CLUSTER_NAMESPACE }} \
            --dry-run=client -o yaml | kubectl apply -f -

      # - name: Restart Backend Deployment
      #   run: |
      #     kubectl rollout restart deployment/backend-dotnet -n ${{ env.CLUSTER_NAMESPACE }}