name: Update Backend .NET secrets

on:
  workflow_dispatch:

env:
  CLUSTER_NAME: patchdb-k8
  CLUSTER_NAMESPACE: patchdb
  SECRET_NAME: backend-dotnet-secrets

jobs:
  update-secrets:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_API_KEY }}

      - name: Save kubeconfig
        run: doctl kubernetes cluster kubeconfig save ${{ env.CLUSTER_NAME }}
      
      - name: Update Secrets
        env:
          AWS_CREDENTIALS_JSON: ${{ secrets.AWS_CREDENTIALS_JSON }}
          TEST_SECRET_JSON: ${{ secrets.TEST_SECRET_JSON }}
        run: |
          set -euo pipefail

          TMP_DIR="$(mktemp -d)"
          echo "Using temp dir: $TMP_DIR"

          # Write secrets to files
          printf '%s' "$AWS_CREDENTIALS_JSON" > "$TMP_DIR/aws-credentials.json"
          printf '%s' "$TEST_SECRET_JSON" > "$TMP_DIR/test-secret.json"

          kubectl create secret generic ${{ env.SECRET_NAME }} \
            --from-file=aws-credentials.json="$TMP_DIR/aws-credentials.json" \
            --from-file=test-secret.json="$TMP_DIR/test-secret.json" \
            -n ${{ env.CLUSTER_NAMESPACE }} \
            --dry-run=client -o yaml | kubectl apply -f -

      # - name: Restart Backend Deployment
      #   run: |
      #     kubectl rollout restart deployment/backend-dotnet -n ${{ env.CLUSTER_NAMESPACE }}